<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SENG6250_DSL_FINAL/src/seng6250/football/main/FootballDSL.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="seng6250.football.main.FootballDSL"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SENG6250_DSL_FINAL"/>
</launchConfiguration>
